<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <iframe src="//giphy.com/embed/LeV8aRu1FvayA" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <form action="/login" method="post">
      <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />
      </div>

      <input type="submit" />
    </form>

    <a href="/register">Register</a>
  </body>
</html>
